:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    color: var(--clr-txt);
    box-sizing: border-box;
}

:disabled {
    opacity: .3;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;

    --bg: #eff1f5;
    --bg-keyboard: #dce0e8;
    --bg-btns-keyboard: #ccd0da;
    --clr-operations: #fe640b;
    --clr-specials-operations: #d20f39;
    --clr-txt: #4c4f69;
}

body.dark {
    --bg: #4c4f69;
    --bg-keyboard: #6c6f85;
    --bg-btns-keyboard: #4c4f69;
    --clr-txt: #eff1f5;
}

#app {
    max-width: 500px;
    background-color: var(--bg);
    overflow: hidden;
    border-radius: 1rem;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    background-color: var(--bg-keyboard);
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

.keyboard button, .keyboard .button {
    text-decoration: none;
    border: 0;
    background-color: var(--bg-btns-keyboard);
    font-size: 2rem;
    padding: .5rem;
    cursor: pointer;
    color: var(--clr-txt);
    border-radius: 1rem;
}

.keyboard button[id], .operatorSpan {
    color: var(--clr-specials-operations);
}
.dark .keyboard button[id], .operatorSpan {
    --clr-specials-operations: #26d6b6;
}

.keyboard button:active {
    transform: translateY(5px);
}

.resultScreen {
    width: 100%;
    height: 220px;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.result {
    font-size: 2.5rem;
    font-weight: bold;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}